/* work sans font set up */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Golos+Text:wght@500;700&family=Labrada&family=Lato:ital,wght@0,400;1,400;1,700&family=Lora:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Roboto+Condensed&family=Ubuntu&family=Work+Sans:wght@400;500;600&display=swap');

 /* shared styles */
*{
   font-family: 'Ubuntu', sans-serif;
   font-family: 'Work Sans', sans-serif; }
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
}
.text-light-gray{
    color: #727272;
}
.section-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
 
}
/* header */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

/* banner section */
.banner-content{
    text-align: center;
     margin: 0 auto;
}
.banner-title{
    color:#131313 ;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.text-light-gray{
    color:#727272;
    font-size: 1rem;
    font-weight: 26px;
}
img{
    width: 100%;
    margin-top: 25px;
   
    
}

/* main section styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* team container style */

.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 3rem;
}
.team-title .quick{
    color: #727272;
    font-weight: 500;
    
}
.team-title .offer{
    color:#131313;
    font-weight: 700;
}
.team-title .feature{
    color: #FF900E;
    font-weight: 700;
}

/* fact section */
.fact-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}
  .card img {
    width: 45px;
    height: 45px;
}  
.fact-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}
.fact-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

  




/* responsive added media quaries */
/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,.team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding: 20px 20px;
    }
    
}
/* tablet device/ medium device */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    }
    nav, .team-container{
        flex-direction: column;
    }
}




