/* work sans font set up */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Golos+Text:wght@500;700&family=Labrada&family=Lato:ital,wght@0,400;1,400;1,700&family=Lora:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Roboto+Condensed&family=Ubuntu&family=Work+Sans:wght@400;500;600&display=swap');

 /* shared styles */
*{
   font-family: 'Ubuntu', sans-serif;
   font-family: 'Work Sans', sans-serif; }
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
}
/* header */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
 
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

/* banner section */
.banner-content{
    text-align: center;
     margin: 0 auto;
}
.banner-title{
    color:#131313 ;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 53px;

}
img{
    width: 100%;
    margin-top: 25px;
   
    
}

/* responsive added media quaries */
/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    
}
/* tablet device/ medium device */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}